{% extends 'base.html' %} {% load static %} {% block title %}Página de Detalhes
da Notícia{% endblock %} {% block content %}
<div>
  <h1 class="news-title">{{ news.title }}</h1>
  <p class="news-content">{{ news.content }}</p>
  <div>
    <span class="news-categories">
      {% for category in news.categories.all %}<span>{{ category.name }}</span
      >{% endfor %}
    </span>
    <span class="news-author">{{ news.author.name }}</span>
    <span class="news-date">{{ news.created_at|date:"d/m/Y" }}</span>
  </div>
  <div>
    {% if news.image %}
    <img src="{% static news.image.url %}" alt="{{ news.title }}" />
    {% endif %}
  </div>
</div>
{% endblock %}
